/* CSS Normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: \201C \201D \2018 \2019;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
html input[type=button],

/* 1 */

input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
figure {
    margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Box-sizing border-box */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* customs styles */

header {
    margin-top: 0;
    padding-top: 0;
    background: lightblue url("../images/your_verse_hero.jpg") 50% 100% no-repeat;
    height: 538px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.top-nav {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
}

.top-nav li {
    background: linear-gradient(to bottom, #8a8a8a, #686868 50%, #595959 50%, #757575 100%);
    height: 35px;
    width: 110px;
    position: relative;
    border-right: 0.1px solid #565656;
    color: white;
    font-size: 14px;
}

.top-nav li:hover {
    background: rgb(78, 78, 77);
}

.top-nav li:last-child:hover {
    background: linear-gradient(to bottom, #8a8a8a, #686868 50%, #595959 50%, #757575 100%);
}

.top-nav li span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.top-nav li:first-child {
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    color: #c6c6c6;
}

.top-nav li:last-child {
    border-radius: 0 5px 5px 0;
    width: 200px;
}

.top-nav li:last-child input {
    box-sizing: border-box;
    border-radius: 10px;
    height: 20px;
    width: 150px;
    padding: 2px 22px;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #9e9c9c, #757575 50%, #636262 50%, #757575 100%);
    border-color: gray;
}

.top-nav li:last-child input:focus {
    background: white;
}

.top-nav li:last-child i {
    position: absolute;
    transform: translate(-67px, -50%);
    font-size: 1em;
    color: darkgray;
}

header>section {
    margin: auto auto;
    width: 900px;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}

header section:hover {
    cursor: pointer;
}

section>.title {
    font-size: 4em;
    font-weight: 200;
    margin: 20px auto 5px;
}

section>.sub-headline {
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}

section>.verse {
    font-size: 1.5em;
    font-weight: 200;
    color: inherit;
    text-decoration: none;
}

section>.verse:hover {
    text-decoration: underline;
}

main {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
}

main div {
    width: 25%;
    height: auto;
    padding: 1px;
}

main div img {
    width: 100%;
    height: auto;
}

main div:hover {
    cursor: pointer;
}


/* footer */

footer {
    color: rgb(83, 82, 81);
    font-size: 0.6em;
    display: flex;
    width: 980px;
    margin: 20px auto;
}

footer div {
    width: 50%;
}

footer div a {
    color: rgb(72, 160, 224);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer div p {
    line-height: 3em;
    padding: 0;
    margin: 0;
}

.nav-footer {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.nav-footer li {
    padding: 8px 2px;
}